*.tar.gz
*.log
*.wandb
/cross_tissue_immune_cell/03_Script/03_scGPTAnalysis/.ipynb_checkpoints/
/cross_tissue_immune_cell/03_Script/03_scGPTAnalysis/wandb/
/Human_Thymus_Development_Atlas/03_Script/03_scGPTAnalysis/.ipynb_checkpoints/
/Human_Thymus_Development_Atlas/03_Script/03_scGPTAnalysis/wandb/
*.html
/cross_tissue_immune_cell/03_Script/04_scGPTAnalysisResult/01_scGPTCellTypeResult_files/
/cross_tissue_immune_cell/03_Script/04_scGPTAnalysisResult/run_00_epoch_1/
/cross_tissue_immune_cell/03_Script/05_scGPTDifferentEpoch/Analyse_Different_Epoch_V1/
/cross_tissue_immune_cell/03_Script/05_scGPTDifferentEpoch/Analysis_Different_epoch_filg_rapport/
/cross_tissue_immune_cell/03_Script/06_scBERT/ckpts/finetune_best.pth
/cross_tissue_immune_cell/03_Script/06_scBERT/label
/cross_tissue_immune_cell/03_Script/06_scBERT/label_dict
/Human_Thymus_Development_Atlas/03_Script/04_scGPTAnalysisResult/Diagramme/
/Human_Thymus_Development_Atlas/03_Script/04_scGPTAnalysisResult/run_00_1_epoch/
/Human_Thymus_Development_Atlas/03_Script/04_scGPTAnalysisResult/run_01_1_epoch/
/Human_Thymus_Development_Atlas/03_Script/04_scGPTAnalysisResult/run_02_1_epoch/
/Human_Thymus_Development_Atlas/03_Script/04_scGPTAnalysisResult/run_03_5_epoch/
/Human_Thymus_Development_Atlas/03_Script/04_scGPTAnalysisResult/run_04_10_epoch/
/Human_Thymus_Development_Atlas/03_Script/05_scGPTDifferenceEpoch/Different_epoch_fig_rapport/
/Human_Thymus_Development_Atlas/03_Script/05_scGPTDifferenceEpoch/Different_epoch_v1/
/Human_Thymus_Development_Atlas/03_Script/08_Temporary_scBERT_for_bug/
/cross_tissue_immune_cell/02_Container/2024_04_r42_seurat5/
/Human_Thymus_Development_Atlas/02_Container/2024_03_r42_seurat5/
